pandas
#airbyte>=0.17.3
#prefect>=3.0.0
dlt
dlt[parquet]
dlt[bigquery]
pyarrow
#prefect_duckdb
python-dotenv
#cryptography==42.0.5
#cryptography==37.0
duckdb>=1.0.0
prefect_dbt
prefect_gcp
prefect[github]
dbt-duckdb
dbt-bigquery
dbt-core
#pydantic>=2.0.0

# lint
shandy-sqlfmt[jinjafmt]
